[Desktop Entry]
Type=Application
Exec=pdfquirk %u 
Icon=pdfquirk
Terminal=false
Name=PDFQuirk
Name[de]=PDFQuirk
Name[x-test]=xxPDFQuirkxx
Categories=Office;
GenericName=Create PDFs from images and scans
GenericName[de]=PDFs aus Bildern und vom Scanner erstellen
